*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

@keyframes slideHome{
  0%{
    transform: translateX(-20px);
  }
  20%{
    transform: translateX(0px);
    
  }
  40%{
    transform: translateX(-20px);
  }
  60%{
    transform: translateX(0px);
    
  }
  80%{
    transform: translateX(-20px);
  }
  100%{
    transform: translateX(0px);
    
  }
}